{% extends "base.html.twig" %}
{% block body %}
<div class="example-wrapper">
    <div class="container mt-4">
        <h3>modifier le mot</h3>
        {{form_start(form)}}
        {{form_end(form)}}
    </div> 
</div>
{% endblock body %}